@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Основная информация что и как оно тут все работает.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">ну мб нужна будет кнопка &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Заголовок1</h2>
        <p>
            Напишу тут что может делать приложение
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Заголовок2</h2>
        <p>И тут напишу</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Заголовок3</h2>
        <p>И здесь тоже</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>