@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FileStorage</h1>
    <p class="lead">Добро пожаловать, @if (User.Identity.IsAuthenticated){ <span>@User.Identity.Name,</span>}
    else { <span>Гость, </span> } на самое клевое хранилище документов!
     Скачивай и загружай файлы, делись ими с друзьями, если, конечно, у тебя есть друзья. 
    И тут ещё немного описания того, какой же это отличный проектd
    </p>
    <p>@Html.ActionLink("Хранилище", "GetPublicDocuments", "Storage", "", new { @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Скачивай файлы</h2>
        <p>
            Файлы для скачивания и информация о них доступны без регистрации. "Хранилище" содержит файлы, 
            которые пользователи назначили для свободного доступа.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Форматы файлов</h2>
        <p>Для скачивания и загрузки доступны файлы в форматах: jpeg(jpg), png, gif, docx(doc), txt, pdf.</p>
        <p>Что ещё нужно для счастья и успешного обмена файлыми?</p>
    </div>
    <div class="col-md-4">
        <h2>Зарегистрированным пользователям</h2>
        <p>Для зарегистрированных пользователей доступны загрузка и управление своими документами.</p>
    </div>
</div>